<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Гостевая книга</title>
</head>
<body>
{#<h1>Гостевая книга на фреймворке Django </h1>#}
{##}
{#<h2> Напишите свой комментарий </h2>#}

<form  method="get">
    <table>{{ form }}</table>
    <input type="text" name="username" placeholder="Имя" size="28" required="*" autofocus="">
    <br>
    <input type="email" name="email" placeholder="Почта" size="28" required="*">
    <br>
    <textarea name="comment" placeholder="Kомментарий" required=""></textarea>
    <br>

    <p>
        <button type="reset">Очистить</button>
        <button type="submit">сохранить</button>
    </p>
    <ul>
     {% for poll in entry %}
        <li> {{ poll.id }} </li>
        <li> {{ poll.username }} </li>
        <li> {{ poll.email }} </li>
        <li> {{ poll.comment }} </li>
        <li> {{ poll.date }} </li>
        <li> _________________</li>
    {% endfor %}
</ul>
</form>

{#</body>#}
{#</html>#}