<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Список комментариев</title>
</head>
<body>
<h1>Добавленные комментарии </h1>

<h1>Thank you! Your comment is added!</h1>

<ul>
    {% for list_comment in list_comments %}
        <li> Имя: {{ list_comment.username }} </li>
        <li> email: {{ list_comment.email }} </li>
        <li> Комментарий: {{ list_comment.comment }} </li>
        <li>дата комментирования: {{ list_comment.date }} </li>
        <li> _________________</li>
    {% endfor %}
</ul>
<ul>
    {% for list_comment in list_comment_context %}
        <li> Имя: {{ list_comment.username }} </li>
        <li> email: {{ list_comment.email }} </li>
        <li> Комментарий: {{ list_comment.comment }} </li>
        <li>дата комментирования: {{ list_comment.date }} </li>
        <li> _________________</li>
    {% endfor %}
</ul>
<a href="index.html">Перейти назад</a>
</body>
</html>